In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
!unzip "/content/UCI_Credit_Card.csv.zip"

Archive:  /content/UCI_Credit_Card.csv.zip
replace UCI_Credit_Card.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
df = pd.read_csv("UCI_Credit_Card.csv")#
df.head(3)

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0

[3 rows x 25 columns]

In [ ]:
df.drop('ID', axis=1)

       LIMIT_BAL  SEX  ...  PAY_AMT6  default.payment.next.month
0        20000.0    2  ...       0.0                           1
1       120000.0    2  ...    2000.0                           1
2        90000.0    2  ...    5000.0                           0
3        50000.0    2  ...    1000.0                           0
4        50000.0    1  ...     679.0                           0
...          ...  ...  ...       ...                         ...
29995   220000.0    1  ...    1000.0                           0
29996   150000.0    1  ...       0.0                           0
29997    30000.0    1  ...    3100.0                           1
29998    80000.0    1  ...    1804.0                           1
29999    50000.0    1  ...    1000.0                           1

[30000 rows x 24 columns]

In [ ]:
y = df['default.payment.next.month']
x = df.drop('default.payment.next.month', axis =1)

In [ ]:
x_train, x_test , y_train, y_test = train_test_split(x,y, test_size = 0.23, random_state = 42)

In [ ]:
log = LogisticRegression()
model = log.fit(x_train, y_train)
model.score(x_test, y_test)

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7831884057971015

In [ ]:
x

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0          1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1          2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2          3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3          4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4          5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0
...      ...        ...  ...        ...  ...       ...       ...       ...       ...
29995  29996   220000.0    1          3  ...    5003.0    3047.0    5000.0    1000.0
29996  29997   150000.0    1          3  ...    8998.0     129.0       0.0       0.0
29997  29998    30000.0    1          2  ...   22000.0    4200.0    2000.0    3100.0
29998  29999    80000.0    1          3  ...    1178.0    1926.0   52964.0    1804.0
29999  30000    50000.0    1          2  ...    1430.0    1000.0    1000.0    1000.0

[30000 rows x 24 columns]

In [ ]:
x.iloc[2006]

ID            2007.0
LIMIT_BAL    50000.0
SEX              1.0
EDUCATION        2.0
MARRIAGE         1.0
AGE             40.0
PAY_0            0.0
PAY_2            0.0
PAY_3            0.0
PAY_4            0.0
PAY_5            0.0
PAY_6            0.0
BILL_AMT1    48219.0
BILL_AMT2    48978.0
BILL_AMT3    49257.0
BILL_AMT4    19641.0
BILL_AMT5    20053.0
BILL_AMT6    19613.0
PAY_AMT1      2037.0
PAY_AMT2      2316.0
PAY_AMT3       690.0
PAY_AMT4       715.0
PAY_AMT5       718.0
PAY_AMT6       690.0
Name: 2006, dtype: float64

In [ ]:
random = np.array(x.iloc[2006])

In [ ]:
model.predict([random])

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
y.iloc[2006]

np.int64(0)